@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.text-gradient {
  background: linear-gradient(90deg, #2858c1 4%, #5b79ba 71%);
  background-clip: text;
  color: transparent;
}

.head-gradient {
  background: linear-gradient(90deg, #1f2937 0%, #58759d 100%);
  background-clip: text;
  color: transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #93b5ff; /* scrollbar thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* scrollbar track */
  border-radius: 4px;
}

/* Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #93b5ff #f1f1f1; /* thumb track */
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.8s ease-out forwards;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #111827 !important;
}

/* Hide scrollbars but keep scrolling */
.editor-sidebar,
.editor-preview {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.editor-sidebar::-webkit-scrollbar,
.editor-preview::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}
